@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-family: "Lobster";
}
.divPen{
  position: absolute;
  top: 42%;
  right: 36%;
  text-align: center;
  color: #fafafa;

h1,h2 {
  font-weight: 400;
  margin: 0.4em 0;
}
h1 { font-size: 4.5em; 
}
}
.imdoe{
  background: linear-gradient(rgba(0,0,0,0.815),rgba(0,0,0,0.45)), url('~/img/iss.jpg') no-repeat bottom/100% fixed  !important;
  height: 100vh;
  position: relative;  
}
.navDiv{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
}
#jsText{
  
  color:white;
  font-size: 50px;
}
.navigbar{
  // background: rgba(0, 0, 0, 0.568);
  
  background: transparent;
  padding-top: 20px;  
  width: 90%;
  
  font-weight: 900;
  font-size: 16px;
  display: inline-flex;
  .divSpan
  {
  position: absolute;
  background: black;
  left: 15%;
  text-shadow: 0px -3px 7px black;
  transition: 700ms ease;
  
  a
  {
    color: white;
    padding: 1px 5px;
  }
  a:hover
  {
    text-decoration-line: none
  }
  }
  .divUL
  {
    position: absolute;
    right: 15%;
    a
    {
      color: white;
    }
    a:hover
  {
    text-decoration-line: none
  }
  }
  
    li 
      {
        margin: 0 10px;
        list-style-type: none;
        text-shadow: 0px -3px 7px black;
      }
}
.navUl{
    padding: 1px 5px;
    display: flex;
    transition: 700ms ease;
    text-shadow: 0px -3px 7px black;
    background: black;
}
.divSpan.scrolled{

  background-color: white;
  span a {
  padding: 1px 5px;  
  color: #000000;
  text-shadow: 0px -3px 7px black;
}
}
.navUl.scrolled{
  
  background-color: white;
  li a{
    color: #000000;
    text-shadow: 0px -3px 7px black;
  }
}

.divDoe{
  position: absolute;
  top: 20%;
  right: 43%;
  text-align: center;
  p
  {
    color: black;
    font-size: 20px;
    background: #ffd603;
    padding: 3px 10px;
  }
  a{
    color: white;
    font-size: 40px;
    padding: 15px;
  }
  a:hover{
    color: #ffd603;
  }
}

.about{
  text-align: center;
  height: 100vh;

  h2{
    font-size: 50px;
    padding-top: 50px;
    color: yellow;
    font-weight: bolder;
    text-shadow: -1px 1px 3px black;
    margin-top: 5vh
  }
  span{
    font-weight: 900;
    margin-top: 5vh
  }
  hr{
    width: 50%;
    margin: 0 auto;
  }
  section:nth-child(1){
    margin-top: 18vh
  }

}
.skills
{
  background: #fafafa;
  border: 1px solid #ffd603;
  box-shadow: -3px 4px 20px 1px black;
  padding: 50px;
  margin-bottom: 55px;
  h4{
    font-weight: bolder;
  }
  .logo
  {
    margin-bottom: 45px;
  }
  i{
    font-size: 40px;
    color: white;
    background: #ffd603;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
    box-shadow: -3px 4px 20px 1px black;
  }
  i:hover{
    color: black;
    font-size: 50px;
  }

transition: 300ms;
}
.skills:hover{
  transform: scaleX(1.6)scaleY(1.6);
}

.jsbody
{
  background: url('~/img/head.jpg') center fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px; 
  position: relative;
  
}
.jsfilter
{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.562);
}
.jsnumber
{ 
  text-align: center;
  color:white;
  margin-top: 20px;
  padding-top: 50px;
  i
  {
    color: #ffd603;
    font-size: 30px;
  }
  p
  {
    font-size: 40px;
    margin-bottom: 0px;
  }
}
#commentsSection{
  li{
    list-style-type: none;
  }
  background: #6b6d7066;
  text-align: center;
  h2{
  padding-top: 50px;
  color: yellow;
  font-weight: bolder;
  text-shadow: -1px 1px 3px black;
}
}
.carouselArea
{

height: 500px;
}
.carousel-inner{
  height: 500px;
}

.carousel-item{
  margin-top: 10%;
}
.imgcontact
{
    border-radius: 35px;
    margin-right: 30px;
    img
    {
      border: 3px solid rgb(146, 146, 146);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }
    span
    {
      font-size:30px;
      color:cornflowerblue;
    }
}
.commentary
{
  margin: 25px 100px;
  font-size: 25px;
}
.email
{
 font-size: 30px; 
}
.commentCarou
{
  background: white;
  border-radius: 25px;
  margin: 0 35px;
  padding: 15px 3px;
  box-shadow: 0px 2px 20px 2px black;
}
.contact
{
  
  input:nth-child(1)
  {
    border:none;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px black;
  }
  input:nth-child(2)
  {
    border:none;
    border-radius: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px black;
  }
  #nameInp
  {
    margin-right:5px; 
    width: 40%;
  }
  #mailInp
  {
    width: 50%;
    margin-left: 35px;
  }  
  textarea{  
    border: none;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 10px 0px black;
  
  }
  button{
    box-shadow: 0px 0px 10px 0px black;
  }
}

